apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: {{ACCOUNT_ID}}.dkr.ecr.{{REGION}}.amazonaws.com/auth-service:{{TAG}}
          ports:
            - containerPort: 8000
          env:
            - name: AWS_REGION
              value: "us-east-1"

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8000
  selector:
    app: auth