apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: {{ACCOUNT_ID}}.dkr.ecr.{{REGION}}.amazonaws.com/users-service:{{TAG}}
          ports:
            - containerPort: 8001
          env:
            - name: MYSQL_USER
              value: "admin"
            - name: MYSQL_PASSWORD
              value: "teamb321**"
            - name: MYSQL_HOST
              value: "teambstackfase1-mysql.ce3c822eenu4.us-east-1.rds.amazonaws.com"
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              value: "dned"
            - name: SQS_QUEUE_URL
              value: "https://sqs.us-east-1.amazonaws.com/843089370675/MyAppQueueMonitoring"
            - name: AWS_REGION
              value: "us-east-1"
---
apiVersion: v1
kind: Service
metadata:
  name: users-service
spec:
  type: LoadBalancer
  ports:
    - port: 8001
      targetPort: 8001
  selector:
    app: users